<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yakuza 0 Lieutenants</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>Dojima Family</h1>
    <ul>
        <% for (let lieut of lieutenants) { %>
            <li><%= lieut %> </li>
        <% } %> 
    </ul>
</body>
</html>